* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.card {
    background-image: linear-gradient(135deg, #00feba, #5b548a);
    max-width: 470px;
    width: 75%;
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin: 0px auto 0;
    box-shadow: 0px 12px 28px rgb(234, 240, 238, .8);
}

.bubbles {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    opacity: .4;
    left: 0px;
    top: 40px;
    border-radius: 50%;
}

.small {
    position: absolute;
    left: 80px;
    width: 40px;
    height: 40px;
    top: 120px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}
.search input {
    border: 0;
    outline: 0;
    background-color: #eefaf9;
    color: #555;
    padding: 10px 20px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background-color: #eefaf9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weatherIcon {
    border-radius: 25%;
    margin-top: 10px;
    width: 170px;
    height: 55%;
    box-shadow: 0px 6px 22px rgb(45, 56, 57);
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather {
    justify-content: center;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 0px;
    gap: 4px;
}

.columns img {
    margin-right: 0px;
}

.humidity, .wind, .sunrise, .sunset {
    font-size: 20px;
    margin-top: 0px;
}

.weather {
    display: none;
}

.error {
    color: red;
    text-align: left;
    margin-left: 10px;
    display: none;
}

/* Mobile-first adjustments */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
        transform: scale(1);
    }

    .card {
        width: 80vw;
        padding: 30px 20px;
    }

    .search {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 2px;
        border: 1px solid red;
        
    }

    .search input {
        font-size: 16px;
        padding: 8px 5px;
        height: 35px;
        width: 70%;
        margin: 0px;
    }

    .search button {
        width: 40px;
        height: 40px;
        margin: 0px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .details {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .humidity, .wind, .sunrise, .sunset {
        font-size: 16px;
    }
}
